# .gitignore for Projek
# Ignore mask folders and generated image masks
auto_masks/
masked_images/
masks/

# Ignore archive and large model files
output.csv
model_comparison.csv
machine learning-kelompok 6 copy.ipynb
Prediction2.py

# ignore certain extensions
*.html
*.h5
*.hdf5
*.pkl
*.keras
*.png
*.jpg
*.pdf