# .gitignore for Projek
# Ignore mask folders and generated image masks
auto_masks/
masked_images/
masks/

# Ignore archive and large model files
archive.zip
unet_membraine_a6.hdf5
unet_membrane_a6.hdf5
output.csv