# .gitignore for Projek
# Ignore mask folders and generated image masks
auto_masks/
masked_images/
masks/

# Ignore archive and large model files
output.csv
model_comparison.csv

# ignore certain extensions
*.py
*.html
*.h5
*.hdf5
*.pkl
*.keras